{% extends "MouseBlogs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Blogs</h2>
{% endblock header %}

{% block content %}


      {% for blog in blogs %}
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3>
                By {{ blog.owner }}
                {{ blog.date_added|date:'Y/m/d H:i' }}
                <small>
                    <a href="{% url 'MouseBlogs:edit_blog' blog.id %}">edit blog post</a>
                    <a href="{% url 'MouseBlogs:blog' blog.id %}">comment</a>
                    <a href="https://service.weibo.com/share/share.php?appkey=&title=&url=&pic=&searchPic=false&style=simple" target="_blank">Share this on Sina Weibo</a>
                    <a href="https://twitter.com/share?text={{ blog }}">Share this on Twitter</a>
                </small>
            </h3>
            </div>
      <div class="panel-body">
          {{ blog.text|linebreaks }}
      </div>
      {% empty %}
        No blogs have been added yet.Please add your first blog
      {% endfor %}
        </div>

  <h3><a href="{% url 'MouseBlogs:new_blog' %}">Add a new blog post</a></h3>
{% endblock content %}