{% extends 'MouseBlogs/base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h2>Help</h2>
{% endblock header %}

{% block content %}
  <p>If you have some problems,please contact this E-mail address:
  Wikimouse@outlook.com.
      Show us the issue.Then we can solve it.
  </p>
  <button type="button" class="btn btn-default navbar-btn">
    <a href="mailto:Wikimouse@outlook.com">E-mail</a></button>
  <p>Contact us by Twitter</p>
  <button type="button" class="btn btn-default navbar-btn"><a href="https://twitter.com/littlem79359396">Twitter</a></button>
{% endblock content %}