{% extends "MouseBlogs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <div class="jumbotron">
      <h2>An Permanent Free Blog</h2>
  </div>
{% endblock header %}
{% block content %}
  <p>MouseBlog is a safe blog for everyone,we never request your ID,E-mail and your
      phone number.You just need to memorize your password and enjoy this Web App.Please don't
      bring porno,violent information to our blog.No drugs!We will delete some illegal entries per month.
  </p>
{% endblock content %}