{% extends "MouseBlogs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <div class="jumbotron">
      <h2>A Noob's Personal Blog</h2>
  </div>
{% endblock header %}
{% block content %}
  <p>I stop my developing now.I must focus on some more important stuff.I will keep updating my blog posts.
      But I will never update my GitHub repository.You should know:I'm on the longest way in this world.I must run now,
      and I have no choices.If I stop running,I would fall into the deepest valley.I should go now.
  </p>
{% endblock content %}